@font-face {
	font-family: 'Merriweather-Lightitalic';
	src: url(../font/Merriweather-LightItalic.ttf);
}

@font-face {
	font-family: 'Merriweather-Bold';
	src: url(../font/Merriweather-Bold.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body {
	font-family: 'Merriweather-Lightitalic';
	background-color: #d6d6d6;
}

h2 {
	text-align: center;
}

th,
td {
	text-align: center;
	padding: 8px;
}

tr {
	background-color: #f2f2f2;
}

.headerpag {
	color: white;
	background-color: #353535;
	z-index: 2;
}

.navbar-nav li a {
	font-size: medium;
}

.countdown {
	background-color: #7c2738;
	padding: 10px;
	border-bottom: 1px solid #80272e;
	max-height: 100%;
}

.race__status {
	color: #e0dddd;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.race__status-date {
	margin: 0;
	line-height: 15px;
	letter-spacing: 0.5px;
}

.race_info {
	display: flex;
}
.race_info__circuit {
	border-top: solid 1px #f1525f;
	border-right: solid 1px #f1525f;
	border-top-right-radius: 10px;
	padding-top: 10px;
	padding-right: 10px;
	width: 70px;
	margin-right: 15px;
}
.race_info__circuit img {
	width: 50px;
}
.race_info__text {
	padding-top: 15px;
	border-top: solid 1px #f1525f;
	border-right: solid 1px #f1525f;
	border-top: solid 1px #f1525f;
	border-top-right-radius: 10px;
	width: 50%;
}
.race_info__text-race_text {
	display: inline-block;
	font-size: 25px;
	line-height: 30px;
	text-transform: uppercase;
	color: #e0dddd;
}
.race_info__text .race_info {
	display: flex;
}
.race_info__text span {
	color: #e0dddd;
}

.container__col2 {
	flex: 0 0 41.6%;
	max-width: 41.6%;
	position: relative;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	z-index: 1;
}
.container__col2 .countdown__clock {
	display: table-cell;
	padding: 10px;
	background-color: #a76066;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	vertical-align: middle;
}
.container__col2 .countdown__clock p {
	color: #e0dddd;
}
.container__col2 .countdown__clock span {
	display: block;
	color: #e0dddd;
}

.countdown__clock__wraper {
	margin-top: 0;
	display: table;
	width: 100%;
}

.clock {
	display: flex;
	max-width: 100%;
	max-height: 100%;
}
.clock__date {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	border-right: solid 1px #f1525f;
	height: 80%;
}
.clock__date-logo {
	width: 80px;
	margin-left: 5px;
	height: 60px;
	margin-top: 5px;
}

.banner {
	width: 95%;
	margin: auto;
	overflow: hidden;
	padding-top: 2rem;
}
.banner ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}
.banner li {
	width: 100%;
	list-style: none;
}
.banner img {
	width: 100%;
}

@keyframes cambio {
	0% {
		margin-left: 0;
	}
	20% {
		margin-left: 0;
	}
	25% {
		margin-left: -100%;
	}
	45% {
		margin-left: -100%;
	}
	50% {
		margin-left: -200%;
	}
	70% {
		margin-left: -200%;
	}
	75% {
		margin-left: -300%;
	}
	100% {
		margin-left: -300%;
	}
}
.races__calendar {
	background-color: #272626;
	color: white;
	height: 100%;
	padding: 5px;
}
.races__calendar-list {
	align-items: center;
	justify-items: center;
	color: #353535;
}

.etapa {
	text-align: center;
	width: 100%;
}
.etapa__city {
	align-items: center;
	justify-items: center;
}
.etapa__city-flag img {
	display: block;
	height: 52px;
	width: 68px;
	margin: 0 auto 20px;
	align-items: center;
	justify-items: center;
}

.news__notices {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	padding-top: 20px;
	padding-right: 20px;
	border-top: solid 10px #80272e;
	border-right: solid 10px #80272e;
}

.card-main {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}
.card-main iframe {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}
.card-main img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}

.banner {
	width: 95%;
	margin: auto;
	overflow: hidden;
	padding-top: 2rem;
}
.banner ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}
.banner li {
	width: 100%;
	list-style: none;
}
.banner img {
	width: 100%;
}

@keyframes cambio {
	0% {
		margin-left: 0;
	}
	20% {
		margin-left: 0;
	}
	25% {
		margin-left: -100%;
	}
	45% {
		margin-left: -100%;
	}
	50% {
		margin-left: -200%;
	}
	70% {
		margin-left: -200%;
	}
	75% {
		margin-left: -300%;
	}
	100% {
		margin-left: -300%;
	}
}

.races__calendar {
	background-color: #272626;
	color: white;
	height: 100%;
	padding: 5px;
}
.races__calendar-list {
	align-items: center;
	justify-items: center;
	color: #353535;
}

.etapa {
	text-align: center;
	width: 100%;
}
.etapa__city {
	align-items: center;
	justify-items: center;
}
.etapa__city-flag img {
	display: block;
	height: 52px;
	width: 68px;
	margin: 0 auto 20px;
	align-items: center;
	justify-items: center;
}

.news__notices {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	padding-top: 20px;
	padding-right: 20px;
	border-top: solid 10px #80272e;
	border-right: solid 10px #80272e;
}

.card-main {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}
.card-main iframe {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}
.card-main img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}

.card-video {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}
.card-video iframe {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}

.categories__car {
	border-left: 4px solid yellow;
	background: #cac3c3;
	font-weight: 600;
	cursor: default;
	font-size: 1.2rem;
}

.btn-base,
.btn-inscribir,
.btn-cancel {
	color: white;
	padding: 10px 30px;
	text-decoration: none;
	border-radius: 10px;
	border: none;
}

.btn-inscribir {
	background-color: #04aa3b;
}

.btn-cancel {
	background-color: #f83737;
}

input[type='text'],
input[type='password'],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

h2 {
	text-align: center;
	padding: 10px;
}

h3 {
	padding: 12px;
}

.name_page {
	text-align: center;
	padding: 5px;
	margin-top: 10px;
}

.rank {
	font-size: 2.8rem;
	line-height: 3 rem;
}

.info__pts {
	background-color: #000;
	border-radius: 3px;
	color: #fff;
	padding: 1px 0 0;
	text-align: center;
	text-transform: uppercase;
	width: 4rem;
}

.capitules {
	background-color: #fff;
	padding: 20px;
	/* width: 400px; */
	border-radius: 10px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}
.capitules__rules {
	position: relative;
}
.capitules__rules img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}
.capitules__rules-link {
	background-color: #05702c;
	color: #f3ef01;
	display: inline-block;
	width: 100%;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
}

.footer {
	color: white;
	background-color: #343434;
	padding: 20px 10px;
	position: sticky;
	top: 0;
}
.footer img {
	width: 60px;
	height: 60px;
}
.footer__containername {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px;
	padding: 5px;
}
.footer__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
}
.footer__grid-logo {
	padding: 10px 0 15px;
}
.footer__grid-logo a img {
	width: 100px;
	height: 50px;
}
.footer__grid-reserved {
	text-align: center;
	padding-top: 20px;
}
.footer__grid-rrss {
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
}
.footer__grid-rrss a {
	color: #e2e8f0;
	font-size: 30px;
}

.link-instagram {
	color: #e2e8f0;
}
.link-instagram:hover {
	color: #c92d8f;
	transition: color 0.3s;
}

.link-youtube {
	color: #e2e8f0;
}
.link-youtube:hover {
	color: #ee1809;
	transition: color 0.3s;
}

.link-facebook {
	color: #e2e8f0;
}
.link-facebook:hover {
	color: #724ff1;
	transition: color 0.3s;
}

@media (max-width: 576px) {
	.footer__grid {
		grid-template-columns: 1fr;
		text-align: center;
		margin-top: 2rem;
	}
}

@media (max-width: 420px) {
	.footer__grid {
		grid-template-columns: 1fr;
		text-align: center;
		margin-top: 2rem;
	}
}
