$redesSociales: (
    instagram: #c92d8f,
    youtube: #ee1809,
    facebook: #724ff1,
  );
.footer{
    color: white;
	background-color: #343434;
    padding: 20px 10px;
    position: sticky;
    top: 0;

    img{
        width: 60px;
        height: 60px;
    }

    &__containername{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5px;
        padding: 5px;
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        &-logo{
            padding: 10px 0 15px;

                a{
                    img{
                        width: 100px;
                        height: 50px;
                    }
                }
        }

        &-reserved{
            text-align: center;
            padding-top: 20px;
        }

        &-rrss{
            margin-top: 30px;
            display: flex;
            justify-content: space-evenly;

            a{
                color: #e2e8f0;
                font-size: 30px;
            }

            // a:hover{
            //     color: #13a31a;
            //     transition: color 0.3s;
            // }
        }
    }
      
} 
@each $nombre, $color in $redesSociales {
    .link-#{$nombre}{
        color: #e2e8f0;
        &:hover{
            color: $color;
            transition: color 0.3s;
        }
    }    
  }

