//Header
.headerpag {
    color: white;
	background-color: #353535;
    z-index: 2;
}

.navbar-nav {
    li {
        a{
    font-size: medium;
        }
    }
}

.countdown{
    background-color: rgb(124, 39, 56);
    padding: 10px;
    border-bottom: 1px solid $colorBordes ;
    max-height: 100%;
}

.race__status{
    color: $colorTexto;
    margin-bottom: 10px;
    text-transform: uppercase;
    &-date{
        margin: 0;
        line-height: 15px;
        letter-spacing: .5px;
    }
}

.race_info{
    display: flex;

    &__circuit{
        border-top: solid 1px $colorConteo;
        border-right: solid 1px $colorConteo;
        border-top-right-radius: 10px;
        padding-top: 10px;
        padding-right: 10px;
        width: 70px;
        margin-right: 15px;

        img{
            width: 50px;
        }
    }

    &__text{
        padding-top: 15px;
        border-top: solid 1px $colorConteo;
        border-right: solid 1px $colorConteo;
        border-top: solid 1px $colorConteo;
        border-top-right-radius:10px;
        width: 50%;

        &-race_text{
            display: inline-block;
            font-size: 25px;
            line-height: 30px;
            text-transform: uppercase;
            color: $colorTexto;
        }

        .race_info{
            display: flex;
        }

        span{
            color: $colorTexto;
        }

    }
}

.container__col2{
    flex: 0 0 41.6%; 
    max-width: 41.6%;
    position: relative;
    width: 100%; 
    padding-right: 10px;
    padding-left: 10px;
    z-index: 1;

    .countdown__clock{
        display: table-cell;
    padding: 10px;
    background-color: #a76066;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    vertical-align: middle;

        p{
            color: $colorTexto;
        }

        span{
            display: block;
            color: $colorTexto;
        }
    }
}

.countdown__clock__wraper{
    margin-top: 0;
    display: table;
    width: 100%;
}


.clock{
    display: flex;
    max-width: 100%;
    max-height: 100%;

    &__date{
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        border-right: solid 1px $colorConteo;
        height: 80%;
        
        &-logo{
            width: 80px;
            margin-left: 5px;
            height: 60px;
            margin-top: 5px;
        }
    }
}





