.btn-base{
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    border: none
}

.btn-inscribir{
    @extend .btn-base;
    background-color: #04aa3b;
}

.btn-cancel{
    @extend .btn-base;
    background-color: rgb(248, 55, 55);
}